{% load static %}
<html>

<head>
  <link href="{% static 'signup.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Sign up</title>

</head>
<body>
  <div class="main" align="center">
    <p class="su">Sign up</p>
    <form method="POST" action="{% url 'signup' %}" class="form1" align="center">
        {% csrf_token %}
      <input class="first" name="username" type="text" placeholder="Full Name" required autofocus>
      <input class="mail" name="student_id" type="text" placeholder="Student ID" required>
      <input class="pass1" name="password1" type="password" placeholder="Choose Password" required>
      <input class="pass2"name="password2" type="password" placeholder="Retype Password" required>
    <div class="container">
  <input id="radio-1" name="usertype" value="seller" type="radio">
    <label for="radio-1" class="radio-label">Seller</label>
    <input id="radio-2" name="usertype" value="buyer" type="radio">
    <label  for="radio-2" class="radio-label">Buyer</label>
</div>

      <input class="submit" type="submit" value="Sign Up" align="center"> </form>
  </div>
  <div class="bottom">

  </div>
</body>

</html>
