<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/productpage.css' %}" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Product Image -->
      <div class="left-column">
        <img data-image="red" class="active" src="images/launchpad.jpg" alt="">
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <!-- Product Description -->
        <div class="product-description">
          <span>Product type</span>
          <h1>Product name</h1>
          <p>Product description</p>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>List Price</span>
        </div>
        <br>
        <a href="#" class="cart-btn">Payment</a>


      </div>

    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  </body>
</html>
