{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Market</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main2' %}">Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main2' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">menu1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">menu2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">menu3</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="">menu4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

 <div class="row">
<div class="col-lg-3">

        <h1 class="my-4">SELLER</h1>

        <div class="list-group">
          <a href="#" class="list-group-item">Flea Market</a>
            <a href="#" class="list-group-item">Auction</a>
        </div>

      </div>
      <!-- Blog Entries Column -->
      <div class="col-lg-9">

        <h1 class="my-4">
        </h1>

        <!-- Blog Post -->

        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p class="card-text"><div id="data" class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Num.</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Wish list person</th>
            <th>Status</th>
            <th>History</th>

        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
        <tr>

            <td data-label="Num." width=5%>{{ forloop.counter }}</td>
            <td data-label="Product Name" width=25%>
                <form action="{% url 'main2' %}post={{ board.id }}" method="POST" title="{{ board.subject}}">
                    <a href="{% url 'main2' %}post={{ board.id }}" value="{{ board.id }}">{{ board.name }}</a>
                </form>
            </td>
            <td data-label="Price" width=10%>{{ board.price }}</td>
            <td data-label="Wish" width=20%>{{ board.view }}</td>
            <td data-label="Status" width=15%>{{ board.status }}</td>
            <td data-label="History" width=25%>{{ board.view }}</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
              </p>
          </div>
        <ul class="pagination justify-content-center mb-4">
        {% if boards.has_previous %}
          <li><a href="?page={{ boards.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class = "disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in boards.paginator.page_range %}

          {% if boards.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if boards.has_next %}
            <li><a href="?page={{ boards.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {%endif %}
        </ul>

          <div class="card-footer text-muted">
              <form action="" method="POST">
                  {% csrf_token %}
            <div class="input-group">
              <input type="text" name="word" class="form-control" placeholder="Search for">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">검색</button>
              </span>
            </div>
              </form>
            <a ></a>
          </div>
        </div>

<form action="write" method="POST">
    {% csrf_token %}
    <button name="write_post" value="write" class="btn btn-primary">Product Registration</button>
</form>

        <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4"></ul>
      </div>



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
