{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Market</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">Market</a>
        <svg style="display: none">
  <symbol id="magnify" viewBox="0 0 18 18" height="100%" width="100%">
    <path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0          6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5          1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5            11z" fill="#fff" fill-rule="evenodd"/>
  </symbol>
</svg>
        <div >
      <div class="wrapper" >
      <div class="nav-bar">
                     </div>
         </div>
         </div>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src="js/index.js"></script>
              <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main2' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="wishlist">Wish list</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="">Shopping list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">BUYER</h1>

          <div class="list-group">
          <a href="" class="list-group-item">Flea Market</a>
            <a href="" class="list-group-item">Auction</a>
        </div>

      </div>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

        </div>

      <div class="card-footer text-muted">
              <form action="" method="POST">
                  {% csrf_token %}
            <div class="input-group">
              <input type="text" name="word" class="form-control" placeholder="Search for">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">검색</button>
              </span>
            </div>
              </form>
            <a ></a>
          </div>

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

        </div>


        <div class="row">
{% for board in boards %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a>
                  {% if board.photo %}
        <img class="img-fluid rounded" name="image" src="{{ board.photo.url }}" alt="">
                  {% else %}
            <img class="img-fluid rounded" name="image" src="http://placehold.it/700x400" alt="">
                  {% endif %}
              </a>
            <form action="" method="POST" title="Title">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'main2' %}post={{ board.id }}" value="{{ board.id }}">{{ board.name }}</a>
                </h4>
                <h5>{{board.price}}</h5>
                  <h5>{{board.status}}</h5>
                <p class="card-text">by {{board.seller_name}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                    <a href="" class="btn btn-primary" >Select</a>
                </small>
              </div>
            </form>
            </div>
          </div>
{% endfor %}
        </div>
        <!-- /.row -->

      <ul class="pagination justify-content-center mb-4">
        {% if boards.has_previous %}
          <li><a href="?page={{ boards.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class = "disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in boards.paginator.page_range %}

          {% if boards.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if boards.has_next %}
            <li><a href="?page={{ boards.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {%endif %}
        </ul>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
